<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.filesharedapp" >

    <!-- 系统权限设置 -->


    <!-- 读取wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 改变wifi连接 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 网络连接所需的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome" >
        </activity>
        <activity
            android:name=".app.HomeMainActivity"
            android:label="@string/title_activity_home_main" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.send.SendShowActivity"
            android:label="@string/title_activity_send_show" >
        </activity>
        <activity
            android:name=".framework.ui.base.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
    </application>

</manifest>
